<div id="content-sidebar">
  <div id="sidebar">
    <%= render :partial=>'/shared/candidate_by_name_widget' %>
  </div>
</div>
<div id="main-content-panel">

    <% @page_title = application_name + " Search Results" %>

    <%= render :partial => 'search_form' %>
    
    <%= render :partial => 'did_you_mean' %>

    <%= render 'catalog/constraints', :localized_params=>params %>

    <%= render 'catalog/results_pagination' %>
    
    <%= render :partial => 'document_list' %>


    <%= render 'catalog/results_pagination' %>

</div>

