<div id="content-sidebar">
  <div id="sidebar">
    <%= render :partial => 'facets' %>
  </div>
  <% unless has_search_parameters? %>
      <%= render :partial => 'shared/project_progress' %>
  <% end %>
</div>

<div id="main-content-panel">

  <% unless has_search_parameters? %>
      <%# if there are no input/search related params, display the "home" partial -%>
      <%= render 'home' %>

  <% else %>

    <div class="searchResultPanel <%= display_facet_details? ? 'facetDetails' : '' %>">
      <% @page_title = application_name + " Search Results" %>
      <%= render :partial => 'search_form' %>
      <%= render :partial => 'did_you_mean' %>
      <%= render 'constraints', :localized_params => params %>
      <%= render 'sort_and_per_page' %>
      <%= render 'results_pagination' %>

      <%- if @response.empty? %>
          <%= render "zero_results" %>
      <%- elsif render_grouped_response? %>
          <%= render_grouped_document_index %>
      <%- else %>
          <%= render_document_index %>
      <%- end %>

      <%= render 'results_pagination' %>
    </div>

    <% if display_facet_details? %>
      <div class="itemDetail">

        <% if party_facet_selected? %>
          <% selected_party_facets do |party| %>
            <h2><%= party.name %></h2>
            <%= party.description.html_safe %>
            <hr />
          <% end %>
        <% end %>

        <% if office_facet_selected? %>
          <% selected_office_facets do |office| %>
            <h2><%= office.name %></h2>
            <%= office.description.html_safe %>
            <hr />
          <% end %>
        <% end %>

        <% if state_facet_selected? %>
          <% selected_state_facets do |state| %>
            <%= state.history.html_safe %>
            <%= state.bibliography.html_safe %>
            <hr />
          <% end %>
        <% end %>

      </div>
    <% end %>

  <% end %>
</div>

