<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-ballot"><p /></div>
<div id="main-header">
  <div id="main-header-upper">
    <div id="main-logo"><a href="/"><%= image_tag('logo.gif', :alt=>"A New Nation Votes") %></a></div>
  </div>
  <div id="main-header-lower">
    <div id="main-menu">
      <%= link_to image_tag('menu_home.gif', :class=>'menu-sep', :alt=>"Home"), root_path %>
      <%= link_to image_tag('menu_advancedsearch.gif', :class=>'menu-sep', :alt=>"Advanced Search"), catalog_index_path %>
      <a href="about.html"><img src="/assets/menu_about.gif" alt="About" class="menu-sep" /></a>
      <a href="help.html"><img src="/assets/menu_help.gif" alt="Help" class="menu-sep" /></a>
      <a href="contact.html"><img src="/assets/menu_contact.gif" alt="Contcac" /></a>
    </div>
  </div>
</div>




<div id="container">
  <div xmlns:xi="http://www.w3.org/2001/XInclude" id="content">
    <%= yield %>
  </div>

  <div class="list-spacer"><p /></div>
</div>

<div id="main-footer"><div id="main-footer-runner"><p /></div><table id="footer-links"><tr><td><table id="footer-links-table"><tr><td><a href="http://www.americanantiquarian.org/" class="footer-link footer-link-sep">American Antiquarian Society</a></td><td><a href="http://dca.tufts.edu" class="footer-link footer-link-sep">Digital Collections and Archives at Tufts University</a></td><td><a href="terms.html" class="footer-link">Terms and Conditions</a></td></tr><tr><td><img src="/assets/logo_aas.gif" alt="American Antiquarian Society" /></td><td><img src="/assets/logo_dca.gif" alt="Digital Collections and Archives at Tufts University" /></td><td /></tr></table></td></tr></table></div>
</body>
</html>
